# Maven
target/


# Eclipse files
.classpath
.project
.settings
/workspace/

# IntelliJ Idea files
*.iml
*.ipr
*.iws
*.idea

# Mac
.DS_Store

# Test remnants

# Bin directory
bin/

# VS Code
.vscode/

# Cursor
.cursor/

